obes.xls
Canada.xlsx
alice_novel.txt
alice_mask.png
sesi8notes.ipynb
world_countries.json
london_crime_by_lsoa.csv
assignment_prep.ipynb
sesi8notesn copy.ipynb
nyc.csv
sesi10notes.ipynb
assprep2.ipynb
assprep_2.ipynb
assprepz2.ipynb
ses11notes.ipynb
sesi12notes.ipynb
cat_col.txt
encoder.pkl
model_lin.pkl
num_col_rbs.txt
num_col_std.txt
rbs_scaler.pkl
std_scaler.pkl
sesi14notes.ipynb
